# MongoDB connection string (remote server)
# Example: mongodb://username:password@your-server-ip:27017/mcv-discord-bot
MONGODB_URL=mongodb://username:password@your-server-ip:27017/mcv-discord-bot

# Discord
DISCORD_TOKEN=
ADMIN_USER_ID=
CLIENT_ID=

# your personal cookie, get it from document.cookie in mycourseville
COOKIE=

# Integer(number), define delay time (seconds) to fetch to prevent rate limit
DELAY=300

# Boolean, true will enable "Error fetching" discord message
ERROR_FETCHING_NOTIFICATION=false

# automatically determine current year and semester. if set to false, YEAR and SEMESTER must be specified
AUTO_DETERMINE_YEAR_AND_SEMESTER=true

# year in CE, required when AUTO_DETERMINE_YEAR_AND_SEMESTER is false
# YEAR=2567

# summer is semester 3, required when AUTO_DETERMINE_YEAR_AND_SEMESTER is false
# SEMESTER=1
