[Unit]
Description=MCV Discord Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/mcv-discord-bot
ExecStart=/usr/local/bin/node /home/pi/mcv-discord-bot/build/start.js
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
